@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,300&display=swap');

html,body{
    margin: 0;
    font-family: 'Poppins', sans-serif !important;
    background-color: white !important;
}

.none{
    transform: translate(0,0);
}

.flex{
    display: flex;
}

.margin-0{
    margin: 0;
}

.gap-1{
    gap: 1rem;
}

.col{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.col2{
    flex-direction: row;
}

.ali-ite-cent{
    align-items: center;
}

.jus-con-cent{
    justify-content: center;
}

.jus-con-spac-aro{
    justify-content: space-around;
}

.text-al-cent{
    text-align: center;
}

.wrap{
    flex-wrap: wrap;
}

.width-100{
    width: 100% !important;
}

.width-25{
    width: 25% !important;
}

.height-100{
    height: 100% !important;
}

.logo{
    width: 50%;
    min-width: 400px;
}

header{
    font-size: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: white !important;
}

header>h4{
    margin-right: 12px;
    margin-top: 0;
    margin-bottom: 0;
}

nav{
    box-shadow: 0px 0px 10px gray;
    background-color: #337AB7;
    transition: transform 0.2s;
}

#nav-in-wrapper{
    min-width: 400px !important;
}

table{
    border-collapse: collapse;
}

table:nth-child(2){
    background-color: #d5ecff;
}

td{
    border: 1px solid gray;
    padding-left: 10px;
    padding-right: 10px;
}

.link-btn{
    position: relative;
    cursor: pointer;
    font-size: 25px;
    margin-right: 50px;
    white-space: nowrap;
    color: white;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.link-btn-text{
    transition: 0.2s;
}

.link-btn-text::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 100%;
        width: 0%;
        transition: 0.2s;
        border-bottom: 3px solid  #ffffff;
}

.link-btn:hover > .link-btn-text::after{
    width: 100%;
}

.link-btn-text:hover{
    text-shadow: 0px 0px 10px black;
}

footer{
    position: fixed;
    font-size: 15px !important;
    color: white !important;
    background-color: rgba(0,0,0,0.7) !important;
    bottom: 0;
}

#menu-burger{
    display: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.line{
    background-color: black;
    width: 40px;
    height: 5px;
    transition: 0.2s;
}

#top-line{
    margin-bottom: 10px;
}

#mid-line{
    margin-bottom: 10px;
}

.mid-vanish{
    background-color: white;
}

.bot-skew{
    transform: rotate(45deg) translate(-11px, -11px);
}

.top-skew{
    transform: rotate(-45deg) translate(-10px, 10px);
}

.visi{
    transform: translate(0,0);
}

.formActive{
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: flex-end;
    top: 30%;
    width: 30%;
    background-color: #d3d3d3;
    padding: 50px;
}

.formInactive{
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}

.exit{
    width: 30px;
    height: 30px;
}

#exit0{
    transition: 0.2s;
    cursor: pointer;
    user-select: none;
}

#exit1{
    transition: 0.2s;
    cursor: pointer;
    user-select: none;
}

#exit2{
    transition: 0.2s;
    cursor: pointer;
    user-select: none;
}


.exit:hover > *{
    transform: rotate(90deg);
}

input[type="text"]{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 100%;
    font-size: large;
    padding: 0;
    border-bottom: 1px solid black;
    background-color: #d3d3d3;
}

input[type="password"]{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 100%;
    font-size: large;
    padding: 0;
    border-bottom: 1px solid black;
    background-color: #d3d3d3;
}

input[type="submit"]{
    width: 50%;
    font-size: large;
    background-color: white;
    border: 2px solid black;
}

.labelText{
    position: absolute;
    bottom: -2px;
    left: 0px;
    width: 100%;
    transition: 0.2s;
    pointer-events: none;
    font-size: large;
}

.underLine{
    position: relative;
    width: 100%;
    height: 20px;
    margin-bottom: 30px;
}

label::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 1px;
    width: 0%;
    transition: 0.3s;
    border-bottom: 3px solid #337AB7;
}

input:focus + label .labelText, input:valid + label .labelText{
    transform: translate(0,-70%);
    color: #337AB7;
}

input:focus + label::after, input:valid + label::after{
        width: 100%;
        color: #5fa8d3;
}

input:focus{
    outline: 0;
}

.error{
    text-align: center;
    width: 100%;
    background-color: rgb(248, 124, 145);
    color: #722424;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
}

a{text-decoration: none;}

.profileLink{
    position: fixed;
    right: 0px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #337AB7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 0 0 0 20px;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px #D3D3D3 inset !important;
}

.profileLink:hover{
    transform: scale(1.2) translateX(-10px) translateY(4px);
}

.profileLink>p{
    margin-right: 20px;
}

@media only screen and (max-width: 1000px){
    .none{
    transform: translate(0,-100%);
    }
    #menu-burger{
        display: flex;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 1;
        top: 25px;
        left: 20px;
        width: 50px;
        height: 50px;
        background-color: white;
        padding: 7px;
        border-radius: 100%;
        box-shadow: 0px 0px 20px gray;
    }
    .formActive{
        width: 70%;
    }
    .col2{
        flex-direction: column !important;
    }
    .link-btn{
        margin-right: 0;
    }
    nav{
        position: fixed;
        transform: translate(0,-100%);
    }
    td{
        font-size: 14px;
    }
}

